body {
  background-color: #b8b8b8;
  margin: 0;
  font-family: Myriad Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Myriad Pro;
}

.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal_Overlay--after-open {
  z-index: 1000;
}

.spin-button {
  background-color: #141C32;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
  width: 30vw;
}

.spin-button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
}


#wheel {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}