body {
  background-color: #b8b8b8;
  margin: 0;
  font-family:  Arial Black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial Black;
}

.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal_Overlay--after-open {
  z-index: 1000;
}
.ReactModal__Content--after-open {
  max-width: 380px !important;
}

.close-button {
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 20px;
}

.spin-button {
  background-color: #141C32;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 4vh;
  padding: 20px;
  font-size: 40px;
}

.sc-gsTCUz {
  width: 100vw !important;
  height: 100vw !important;
}

.spin-button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}



#wheel {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}